<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
  <title>I Love Hummus</title>
</head>

<body>

  <div class="nav">
    <div class="navbar-logo">
      <p>
        I Love Humm.us
      </p>
    </div>

    <div class="navbar-links">
      <a class="links" href="#middle" >About</a>
    </div>

    <div class="navbar-links">
      <a class="links" href="#contact">Contact</a>
    </div>
  </div>

  <div class="photo">
    <img id="photo" src="profile.jpg" />
  </div>

  <div class="center-about">
    <h1 class="upper-text">
      Daniel Waggoner
    </h1>
    <h4 class="upper-text">
      Flavor engineer
    </h4>
    <h3 class="upper-text">
      Hummus - Plant Based - Vegan Architecture
    </h3>
  </div>

  <div id="middle" class="about">
    <div class="wrap-about-text">
      <div class="about-text">
        <p>
          I'm a Hummus enthusiast!
        </p>
      </div>

      <div class="about-text">
        <p>
          I just think Hummus is the darn'dest thing!
        </p>
      </div>

      <div class="about-text">
        <p>
          I have experince in Hummus and Hummus accessories
        </p>
      </div>
    </div>
  </div>

  <div id="contact" class="contact container">
    <div class="row">
      <div class="col-md-12"><h2> Contact me</h2></div>
      <div class="upper-text col-md-12">
        <form class="form-group">
          <p> Name</p>
          <input type="text"></input>
        <br></br>
          <p>Email</p>
          <input type="text"></input>
          <div class="form-group">
            <label >Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        <br></br>
          <button>Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row"></div>
    </div>
  </div>
</body>
</html>
